/* ****** Font ********** */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Dosis", Arial;
  background-image: linear-gradient(rgb(232, 19, 19), yellow, rgb(12, 12, 220));
}

.main-container {
  background-color: rgba(222, 123, 123, 0.445);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 100px;
}

.clock-container {
  font-size: 2rem;
  margin-bottom: 100px;
}

.date-container {
  font-size: 2.5rem;
}
